html {
  font-size: 19px;
}

body {
    background-color: dimgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.synth {
  display: flex;
  flex-direction: row;
}

.octave {
  position: relative;
}

.whites {
  display: flex;
  flex-direction: row;
}

.whites > .note {
  width: 1.5rem;
  height: 5rem;
  background-color: white;
  border: 1px solid dimgray;
}

.blacks {
  margin-left: calc(0.75rem + 1px);
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  pointer-events: none;
}

.blacks > div {
  width: 1rem;
  height: 2.5rem;
  background-color: black;
  margin: 0 calc(0.25rem + 1px);
  pointer-events: all;
}

.blacks > .blank {
  opacity: 0;
}
